<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable Annotation Scanning -->
    <context:annotation-config/>
    <context:component-scan base-package="com.example.demo"/>
    <bean id="pro" class="com.example.demo.Project">
    <constructor-arg name="projectId" value="111"></constructor-arg>
    <constructor-arg name="projectName" value="Web Application"></constructor-arg>
    <constructor-arg name="duration" value="6 Months"></constructor-arg>
    </bean>
    
    <bean id="emp1" class="com.example.demo.Employee">
    <constructor-arg name="employeeId" value="100"></constructor-arg>
    <constructor-arg name="employeeName" value="Alice"></constructor-arg>
    </bean>
    
    
     <bean id="emp2" class="com.example.demo.Employee">
    <constructor-arg name="employeeId" value="200"></constructor-arg>
    <constructor-arg name="employeeName" value="Bob"></constructor-arg>
    </bean>
    
    <bean id="dept1" class="com.example.demo.Department">
    <constructor-arg name="departmentName" value="IT"></constructor-arg>
    <constructor-arg name="employees">
    <list>
    <ref bean="emp1"/>
    </list>
    </constructor-arg>
    </bean>
    
    <bean id="dept2" class="com.example.demo.Department">
    <constructor-arg name="departmentName" value="HR"></constructor-arg>
    <constructor-arg name="employees">
    <list>
    <ref bean="emp2"/>
    </list>
    </constructor-arg>
    </bean>
    
    <bean id="comp" class="com.example.demo.Company">
    <constructor-arg name="companyName" value="TechWave Solutions"></constructor-arg>
    <constructor-arg name="departments">
    <map>
    <entry key="department1" value-ref="dept1"></entry>
    <entry key="department2" value-ref="dept2"></entry>
    </map>
    </constructor-arg>
    </bean> 
    </beans>
