<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean id="eb" class="com.nit.electricity.ElectricityBillGenerator">
           <property name="unitsConsumed" value="10"/>
           <property name="ratePerUnit" value="10.9"/>
           </bean>

   

</beans>
