<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <!-- bean definitions here -->


<bean id="dept" class="com.example.demo.Department">
<constructor-arg name="deptId" value="100"></constructor-arg>
<constructor-arg name="deptName" value="IT"></constructor-arg>
</bean>

<bean id="emp" class="com.example.demo.Employee">
<constructor-arg name="empId" value="101"></constructor-arg>
<constructor-arg name="empName" value="John"></constructor-arg>
<constructor-arg name="department" ref="dept"></constructor-arg>
</bean>
     
</beans>
